/* Rotation animation */
.rotate {
    -fx-rotate: 0;
    -fx-animation: spin 30s linear infinite;
}

@keyframes spin {
    from { -fx-rotate: 0; }
    to { -fx-rotate: 360; }
}

/* Different rotation speeds */
.rotate-slow {
    -fx-animation-duration: 60s;
}

.rotate-fast {
    -fx-animation-duration: 15s;
}

/* Pulsing animation */
/* Pulsing glow animation */
.pulsing {
    -fx-effect: dropshadow(gaussian, white, 10, 0.5, 0, 0);
    -fx-animation: pulse 3s infinite alternate;
}


@keyframes pulse {
    from { -fx-effect: dropshadow(gaussian, white, 5, 0.3, 0, 0); }
    to { -fx-effect: dropshadow(gaussian, white, 15, 0.7, 0, 0); }
}